<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carocok Food</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Skip to Content  -->
    <a href="#content" class="skip-link">Skip to content</a>
    <!---header section--->
    <header>
      <a href="#" class="logo">Carocok<span>Food</span></a>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="#favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/subrantas/">About Us</a></li>
      </ul>
      <div class="navbar-extra">
        <a href="#"><i class="bx bx-search"></i></a>
        <a href="#"><i class="bx bx-cart"></i></a>
        <!-- <div class="bx bx-menu" id="menu-icon"></div> -->
        <button
          class="bx bx-menu"
          id="menu-icon"
          aria-label="Toggle Menu"
        ></button>
      </div>
      
    </header>
    <!-- Content -->
    <main id="content">
      <!---Jumbotron home section--->
      <section class="hero" id="home">
        <div class="hero-text">
          <h1><span>Carocok</span> Apps</h1>
          <p>
            Discover top-rated restaurants exclusively on premier dining
            websites
          </p>
          <a href="#" class="cta">Book Restaurant</a>
        </div>
      </section>
      <section class="content">
        <div class="latest">
          <h1>Explore Restaurant</h1>
          <div class="list" id="contentList"></div>
        </div>
      </section>
    </main>
    <footer>
      <div class="last-text">
        <p>© 2024 CarocokFood. All Rights Reserved</p>
      </div>
      <!---scroll top--->
      <a href="/" class="scroll-top">
        <i class="bx bx-up-arrow-alt"></i>
      </a>
    </footer>
    <!-- Scroll Reveal JS -->
    <script src="https://unpkg.com/scrollreveal"></script>
  </body>
</html>
